:root {
    --color-de-fondo-principal: whitesmoke; 
    --color-de-texto-principal: #888888;
}

[data-theme = "noche"] {
    --color-de-fondo-principal: #1e1f26; 
    --color-de-texto-principal: #ccc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
    /*importante para que no quede una cosa al lado de la otra ;-) */
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	background-color: var(--color-de-fondo-principal);
	position: relative;
	transition: all ease 0.2s;
}

.encabezado {
    font-size: 2rem;
	color: var(--color-de-texto-principal);
    padding: 2rem 0;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: all ease 0.2;
}

.reloj {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-de-fondo-principal);
    background-image: url(reloj.png);
    background-size: cover;
    border: 12px solid rgba(255, 144, 200, 0.438);
    border-radius: 50%;
    box-shadow:  0 -15px 15px rgba(255, 170, 219, 0.05),
                 inset 0 -15px 15px rgba(255, 170, 219, 0.05), 
                 0 15px 15px rgba(253, 166, 234, 0.3),
                 inset 0 15px 15px rgba(253, 166, 234, 0.3);
transition: all ease 0.2s;


}

.reloj:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--color-de-texto-principal);
    border: 2px solid var(--color-de-fondo-principal);
    border-radius: 50%;
    z-index: 10000;
}

.reloj .horas,
.reloj .minutos,
.reloj .segundos{
    position: absolute;
}

.reloj .horas, .hr {
    width: 160px;
    height: 160px;
}

.reloj .minutos, .min {
    width: 190px;
    height: 190px;
}

.reloj .segundos, .sg {
    width: 230px;
    height: 230px;
}

.hr, .min, .sg {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 80px;
    background-color: var(--color-de-texto-principal);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.min:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: var(--color-de-texto-principal);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sg:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 140px;
    background: rgba(201, 80, 80, 0.801);
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.cambiar-tema {
    margin: 2rem auto;
    bottom: 0;
}

.cambiar-tema .cambiar-btn {
	font-family: monospace;
	text-transform: uppercase;
	outline: none;
	padding: 0.5rem 1rem;
	background-color: var(--color-de-fondo-principal);
	color: #888888;
	border: 1px solid #888888;
	border-radius: 0.25rem;
	cursor: pointer;
	transition: all ease 0.3s;
}